body {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
  }

.navigation {
  display: flex;
  align-items: left;

  background-color: grey;
  height: 5vh;
  width: 100%;
  padding-left: 0px;
  border: 0px;
}

.navgroup {
  width: 50%;
	height: 100%;
	background-color: rgb(17, 9, 36);
	order: 0;
	display: flex;
}